<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Enunciado de la vista index</h1>
    <p>Hola</p>
  </body>
</html>
