<footer class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><hr /></div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <div>
      <img src="/images/web/logo_2.png" alt="" />
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <h5>Sobre nosotros</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
      luctus nec ullamcorper mattis, pulvinar dapibus leo.
    </p>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <h5>Horario</h5>
    <p>Abrimos todos los días</p>
    <p>Dom – Jue — 14:00 – 16:00</p>
    <p>Viernes — 14:00 – 0:00</p>
    <p>Sábado — 14:00 – 0:00</p>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
    <h5>Contacto</h5>
    <p>C. Castelar, 24, Sevilla</p>
    <p>41001</p>
    <p>654-321-098</p>
    <p>contact@info.com</p>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><hr /></div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <p class="copy">Copyright © 2022 ACOMER | Powered by ACOMER</p>
  </div>
</footer>
