     /* MEASURE */
    $padding: 4vw;
    $card_chef_preview: 350px;

    /* COLORS */
    $gris_claro: #eaeffa;
    $gris_form: #d8dde6;
    $red: #d53c3c;
    $azul_oscuro: #262F3D;

    $input-color: #d53c3c !important;
    $gray-800: #d53c3c !important;
    
    /* BACKGROUNDS */