@charset "UTF-8";
/* MEASURE */
/* COLORS */
/* BACKGROUNDS */
/* MEASURE */
/* COLORS */
/* BACKGROUNDS */
/* LAPTOP */
/* Portrait */
/* TABLET */
/* Portrait */
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .header .signature img {
    margin-top: -4vw !important;
    margin-left: 327px !important;
  }
  .header .carousel {
    margin-top: -163px !important;
    margin-left: -329px !important;
  }
  .header .carousel img {
    width: 700px !important;
  }
  .welcome {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(0, 0, 0, 0.6))), url("/images/web/bg_1.jpg") !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 50%), url("/images/web/bg_1.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
  }
  .welcome .welcomeTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 4vw;
  }
  .welcome .welcomeTexto p {
    padding-left: 31vw !important;
  }
  .restaurant {
    height: 50vh !important;
  }
  .favChef .oneChef {
    margin-bottom: 4vw;
  }
  .img_editChef {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_editDish {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formChef {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formDish {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formLogin {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_selectChef {
    height: 40vh !important;
    background-position: top !important;
  }
  .formRight, .select {
    height: 60vh !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .formRight form, .select form {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }
}

/* MOBILE 📱 */
/* Portrait */
@media (max-width: 767px) and (orientation: portrait) {
  .header h1 {
    font-size: 3em !important;
  }
  .header .signature img {
    margin-top: -11vw !important;
    margin-left: 0 !important;
  }
  .header .carousel {
    margin-top: -102px !important;
    margin-left: -291px !important;
  }
  .header .carousel img {
    width: 275px !important;
  }
  .welcome {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(0, 0, 0, 0.6))), url("/images/web/bg_1.jpg") !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 50%), url("/images/web/bg_1.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
  }
  .restaurant {
    height: 50vh !important;
  }
  .favChef .oneChef {
    margin-bottom: 4vw;
  }
  .img_editChef {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_editDish {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formChef {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formDish {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_formLogin {
    height: 40vh !important;
    background-position: top !important;
  }
  .img_selectChef {
    height: 40vh !important;
    background-position: bottom !important;
    margin-bottom: 4vw;
  }
  .formRight, .select {
    height: 60vh !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .formRight form, .select form {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-moz-selection {
  background-color: #d53c3c;
  color: #ffffff;
}

* ::selection {
  background-color: #d53c3c;
  color: #ffffff;
}

@font-face {
  font-family: IbarraRealNova;
  src: url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

body {
  font-family: 'Montserrat' !important;
  background-color: #eaeffa !important;
}

.header {
  height: 100vh;
  padding: 10vw;
  padding-bottom: -4vw;
}

.header h1 {
  font-family: 'IbarraRealNova' !important;
  font-weight: bold;
  font-size: 6.5em;
}

.header .carousel {
  margin-top: -292px;
  margin-left: 334px;
}

.header .carousel img {
  width: 500px !important;
}

.header .quote .quote_symbol {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .quote .quote_symbol span {
  font-size: 80px;
  color: #d53c3c;
}

.header .quote p {
  text-align: right;
}

.header .signature img {
  margin-top: 16vw;
  margin-left: -106px;
}

.welcome {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(0, 0, 0, 0.6))), url("/images/web/bg_1.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.6) 70%), url("/images/web/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.welcomeTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4vw !important;
}

.welcomeTexto h2 {
  color: white;
  font-size: 3em;
  font-family: 'IbarraRealNova';
  text-align: end;
}

.welcomeTexto p {
  color: white;
  font-size: 1.75em;
  font-family: 'IbarraRealNova';
  text-align: end;
}

.welcomeTexto button {
  border: solid 2px white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  padding: 8px 15px;
}

.welcomeTexto button:hover {
  border: solid 2px white;
  border-radius: 4px;
  color: #262F3D;
  background-color: white;
  padding: 8px 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dishes {
  padding-top: 4vw;
  padding-bottom: 4vw;
  text-align: center;
}

.dishes h2 {
  padding-bottom: 2vw;
  font-family: 'IbarraRealNova';
  font-size: 3em;
  font-weight: bold;
}

.dishes h5 {
  padding-left: 6vw;
  padding-right: 6vw;
}

.dishes .imgEat {
  width: 300px;
}

.restaurant {
  background-image: url("/images/web/404.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20vw;
  background-attachment: fixed;
}

.favChef {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.favChef .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favChef h2 {
  padding-bottom: 2vw;
  font-family: 'IbarraRealNova';
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.imgArriba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgArriba img {
  width: 80px;
}

footer div {
  text-align: center;
}

footer hr {
  background-color: white;
  border: none;
  height: 2px !important;
  opacity: 1;
}

footer h5 {
  font-family: 'IbarraRealNova';
  font-size: 1.3em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

footer p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}

footer img {
  width: 50%;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
}

footer .input-group {
  width: 80%;
  height: 2%;
}

.allChef div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileChef .oneChef {
  margin: 2vw;
}

.profileChef .oneChef .card-info {
  padding: 40px;
}

.profileChef .botones {
  padding-left: 2vw;
}

.profileChef .addDish {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #eaeffa !important;
  background-color: #d53c3c;
  padding: 8px 15px;
  padding-left: 8px;
}

.profileChef .addDish:hover {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #d53c3c !important;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profileChef .edit {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #eaeffa !important;
  background-color: #d53c3c;
  padding: 8px 15px;
}

.profileChef .edit:hover {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #d53c3c !important;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profileChef .deleteChef {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #262F3D;
  background-color: transparent;
  padding: 8px 15px;
}

.profileChef .deleteChef:hover {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #eaeffa;
  background-color: #262F3D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profileChef .deleteDish {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #262F3D;
  background-color: transparent;
  padding: 8px 15px;
}

.profileChef .deleteDish:hover {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #eaeffa;
  background-color: #262F3D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card {
  border: 0 !important;
  background-color: transparent !important;
}

.imgChef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  width: 350px !important;
}

.imgChef img {
  -o-object-fit: cover;
     object-fit: cover;
}

.oneChef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
  height: 350px;
  width: 350px !important;
  color: white;
}

.oneChef .color-overlay {
  background: rgba(213, 60, 60, 0);
  height: 350px;
  width: 350px !important;
  position: absolute;
  z-index: 10;
  -webkit-transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.oneChef .gradient-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 80%);
  height: 350px;
  width: 350px !important;
  position: absolute;
  z-index: 15;
}

.oneChef:hover .card-info {
  opacity: 1;
}

.oneChef:hover .color-overlay {
  background: rgba(213, 60, 60, 0.8);
}

.card-info {
  color: white;
  font-family: 'IbarraRealNova';
  font-style: 16px;
  position: absolute;
  height: 350px;
  width: 350px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vw !important;
  z-index: 20;
  opacity: 0;
  -webkit-transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer input, footer textarea {
  border-radius: 10px;
  border: 0;
  background-color: #d8dde6 !important;
}

.formRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.formRight form {
  margin-left: 2vw !important;
  margin-right: 2vw !important;
}

.formRight form h2 {
  margin-bottom: 2vw;
}

.formRight form input, .formRight form textarea {
  border-radius: 10px;
  border: 0;
  background-color: #d8dde6 !important;
  resize: none !important;
}

.formRight button {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #eaeffa !important;
  background-color: #d53c3c;
  padding: 8px 15px;
}

.formRight button:hover {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #d53c3c !important;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formRight a {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #262F3D;
  background-color: transparent;
  padding: 8px 15px;
}

.formRight a:hover {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #eaeffa;
  background-color: #262F3D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.selectFormRight .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.selectFormRight .select h2 {
  margin-bottom: 2vw;
}

.selectFormRight .select form {
  margin-top: 4vw;
}

.selectFormRight .select form input, .selectFormRight .select form textarea {
  border-radius: 10px;
  border: 0;
  background-color: #d8dde6 !important;
}

.selectFormRight .select button {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #eaeffa !important;
  background-color: #d53c3c;
  padding: 8px 15px;
}

.selectFormRight .select button:hover {
  border: solid 2px #d53c3c;
  border-radius: 4px;
  color: #d53c3c !important;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.selectFormRight .select a {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #262F3D;
  background-color: transparent;
  padding: 8px 15px;
}

.selectFormRight .select a:hover {
  border: solid 2px #262F3D;
  border-radius: 4px;
  color: #eaeffa;
  background-color: #262F3D;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.img_formChef {
  background-image: url("/images/web/img_formChef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.img_formDish {
  background-image: url("/images/web/img_formDish.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.img_formLogin {
  background-image: url("/images/web/img_formLogin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: bottom !important;
  height: 100vh;
}

.img_editChef {
  background-image: url("/images/web/img_editChef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.img_editDish {
  background-image: url("/images/web/img_editDish.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.img_selectChef {
  background-image: url("/images/web/img_selectChef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.not_found {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.582)), to(rgba(0, 0, 0, 0.582))), url("/images/web/404.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.582)), url("/images/web/404.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text h1 {
  color: #d53c3c;
  text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.7);
  font-size: 8em;
  text-align: center;
  font-family: "IbarraRealNova";
  font-weight: bold;
  margin-bottom: -123px;
}

.text h2 {
  color: white;
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.7);
  font-size: 4em;
  text-align: center;
  font-family: "IbarraRealNova";
  font-weight: bold;
}

.text h3 {
  color: white;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.897);
  font-size: 2em;
  text-align: center;
  font-family: "IbarraRealNova";
  font-weight: bold;
}

.torch {
  margin: -150px 0 0 -150px;
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 0 0 0 9999em #000000f7;
          box-shadow: 0 0 0 9999em #000000f7;
  opacity: 1;
  border-radius: 50%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.torch:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: inset 0 0 40px 2px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
          box-shadow: inset 0 0 40px 2px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
}
/*# sourceMappingURL=style.css.map */